@{
    /**/

    ViewBag.Title = "Admin Page";
}

<hr />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Chat Room</h3>
    </div>
    <div class="card-body">
        <div class="input-group mb-xl-1 col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text" id="text4">Room:</span>
            </div>
            <input type="text" class="form-control" id="roomName" name="roomName" placeholder="Example: Sky Room" aria-label="Username" aria-describedby="text4" />
            <div class="input-group-append">
                <input type="submit" id="addChatRoom" name="addChatRoom" class="btn btn-primary" value="Add" />
            </div>
        </div>
        <span id="errRoomMsg" name="errRoomMsg" class="text-danger col-md-12 offset-1"></span>
        <div id="roomCollection" name="roomCollection" class="form-inline col-md-12">
            <h5 class="h5 col-md-12 text-center">Existing Chat Rooms</h5>
            @foreach (var aRoom in ViewBag.ChatRooms)
            {
                <div class="col-auto img-thumbnail">
                    <span class="text-info font-weight-bold">@aRoom.RoomName</span>
                    <br />
                    <span>@(((DateTime)aRoom.RoomCreationDate).ToString("ddd MMM dd yyyy"))</span>
                </div>
            }
        </div>
    </div>
    <div class="card-footer"></div>
</div>

<br />
<br />




