@{
    ViewBag.Title = "Chat Rooms";
}
<br />
<br />
<div class="breadcrumb" style="height:300px;width:700px;margin:auto;">

        <div id="loginNameBox" class="input-group mb-xl-3 row justify-content-center">

            <div class="input-group-prepend col-md-2">
                <span class="input-group-text" id="lblLogin">User ID:</span>
            </div>
            <input type="text" class="form-control col-md-8" id="loginName" name="loginName" placeholder="Write user name" aria-label="Username" aria-describedby="lblLogin" />
        </div>

        <div id="loginPasswordBox" class="input-group mb-xl-1 row justify-content-center">
            <div class="input-group-prepend col-md-2">
                <span class="input-group-text" id="lblPassword">Password:</span>
            </div>
            <input type="password" class="form-control col-md-8" id="loginPassword" name="loginPassword" placeholder="Enter valid password" aria-label="Username" aria-describedby="lblPassword" />
        </div>


       

    <div id="loginSubmitBox" class="mb-xl-1 col-md-auto">
        <input type="submit" id="login" name="login" class="btn btn-info justify-content-center" value="Enter" style="padding:.5rem 18rem; margin-top:1rem; margin-left:1.5rem" />
    </div>

    <div id="logoutSubmitBox" class="mb-xl-1 col-md-12" style="display: none;">
        <input type="submit" id="logout" name="logout" class="btn btn-primary float-right" value="Logout" />
    </div>
</div>
<div class="form-inline align-items-start">
    <div id="allowedChatRoomsDiv" class="col-md-3">
        <p></p>

       
    </div>
    <div id="chatBoard" class="col-md-9 border-left border-secondary">
        
    </div>
</div>
<div style="height:0px;width:0px;overflow:hidden;">
</div>
