
@{
    ViewBag.Title = "Role";
}

<h2>Role</h2>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Role</h3>
    </div>
    <div class="card-body">
        <div class="input-group mb-xl-1 col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text" id="text2">Role:</span>
            </div>
            <input type="text" class="form-control" id="roleName" name="roleName" placeholder="Example: Sky Room" aria-describedby="text2" />
            <div class="input-group-append">
                <input type="submit" id="addRole" name="addRole" class="btn btn-primary" value="Add" />
            </div>
        </div>
        <span id="message" name="message" class="text-danger col-md-12 offset-1"></span>
        <div id="roleCollection" name="roleCollection" class="form-inline col-md-12">
            <h5 class="h5 col-md-12 text-center">Existing Roles</h5>
            @foreach (var aRole in ViewBag.Roles)
            {
                <div class="col-auto img-thumbnail">@aRole.Name</div>
            }
        </div>
    </div>
    <div class="card-footer"></div>
</div>

